*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(./image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 15px;

}
.icon{
    color: white;
    padding-right: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: poppins;
}
.icon:hover{
    text-decoration: underline;
}
.icon-user:hover{
    color:beige;
}
.icon-tube:hover{
    color:beige;
}
.icon-grid:hover{
    color:beige;
}
.google{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
.google-logo p{
    color: white;
    font-family: poppins;
    font-size: 80px;
    font-weight: 500;
    
}
.search-place{
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
.search{
    width: 550px;
    height: 45px;
    border-radius: 50px;
    background-color: white;
}
.searching{
    padding-top: 15px;
    padding-left: 15px;
}
.input-search{
    margin-left: 5px;
    height: 30px;
    font-size: 17px;
    width: 420px;
    border: 0px;
    font-family: poppins;
}
.input-search:focus{
    outline: none;
}

.microphone{
    padding-left: 20px;
    font-size: 18px;
}
.camera{
    padding-left: 10px;
    font-size: 18px;
}
.shortcut{
   display: flex;
   justify-content: center;
}
.shortcut-plus{
    width: 50px;
    height: 50px;
    background-color: white;
    margin-top: 30px;
    border-radius: 40px;
}
.plusIcon{
    font-size: 18px;
    padding-top: 17px;
    padding-left: 16px;
}
